Source: react2fs
Section: utils
Priority: optional
Maintainer: Jack Christensen <jack@jackchristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/jackc/react2fs
Vcs-Git: https://github.com/jackc/react2fs.git
Vcs-Browser: https://github.com/jackc/react2fs

Package: react2fs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Watch for file changes and react
 react2fs watches one or multiple directories for changes to files and reacts
 by executing the supplied command.
