Source: react2fs
Section: unknown
Priority: optional
Maintainer: Jack Christensen <jack@jackchristensen.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/react2fs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/react2fs.git;a=summary

Package: react2fs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
